<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdk.codepaste.mapper.CodeMapper">

    <resultMap id="CodeShareResultMap" type="com.kdk.codepaste.pojo.CodePaste" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="share_key" property="shareKey" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="share_time" property="shareTime" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByPasteKey" resultType="com.kdk.codepaste.pojo.CodePaste">
        select id, share_key, file_path, share_time from code where share_key = #{shareKey}
    </select>

    <insert id="insertCode" >
        insert into code (id, share_key, file_path, share_time) values (#{id}, #{shareKey}, #{filePath}, CURDATE())
    </insert>

    <delete id="deleteByShareKey" >
        delete from code where share_key = #{shareKey}
    </delete>

</mapper>
